/* ==========================================================================
                            Preloader
========================================================================== */

/* ==========================================================================
                            Colors used for the project
========================================================================== */
/*
    brand-color: #36c2dd
    light-brand-color: #afe7f1
    darker-brand-color: #3EA2C3
    highlight: #e0e77a
    dark-highlight: #d0d85f
    dark-grey: #6d6b69
    grey: #84807c
    sidebar-grey: #6f7e95
*/

body {
    line-height: 1.4;
    background-color: #ededed;
    font-family: "Open Sans", Arial, sans-serif;
}

.container {
    padding-top: 30px;
}

.required:after {
    content: "*";
    padding-left: 3px;
    font-weight: bold;
    color: black;
}
/* ==========================================================================
                            Font Styles
========================================================================== */
h1, h2, h3, h4, h5 {
    border: none;
    font-family:"Open Sans", Arial, sans-serif;
}

a, p, th, td, dd, dt, label, input {
    font-family: "Open Sans", Arial, sans-serif;
}

h1 {
    font-size: 1.7em !important;
    color: #6d6b69;
    margin-bottom: 0;
}

h1 .badge {
    font-size: 0.8em;
    transform: translateY(-3px);
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #7d7e81;
}

h3 {
    font-size: 1em;
}

h4 {
    margin-bottom: 20px;
    color: #36c2dd;
    font-weight: 700;
}

/* ==========================================================================
                            Color Styles
========================================================================== */
.bg-mint {
    background-color: #36c2dd;
}

.bg-closed {
    background-color: #adadad;
}

.bg-invest {
    background-color: #e8a529;
}

.text-coral {
    color: lightcoral;
}

@media (max-width: 805px) {
    .bg-closed.td-status,
    .bg-invest.td-status,
    .bg-success.td-status,
    .bg-danger.td-status {
        background-color: #fff !important;
    }

    .bg-closed.td-status {
        color: #adadad !important;
    }
    .bg-invest.td-status {
        color: #e8a529 !important;
    }
    .bg-success.td-status {
        color: #5cb85c !important;
    }
    .bg-danger.td-status {
        color: #d9534f !important;
    }
}
/* ==========================================================================
                            Others
========================================================================== */
.heading-padding {
    padding: 0.5rem 1rem;
}

/* ==========================================================================
                            Link Styles
========================================================================== */
.link-color {
    color: #6d6b69 !important;
}


/* ==========================================================================
                            Overriding default class styles
========================================================================== */
i.fa.fa-times.text-danger {
    margin-right: 11px;
}

i.fa.fa-check.text-success {
    margin-right: 8px;
}

.breadcrumb {
    padding-top: 0.75rem;
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb-item a {
    text-decoration: underline !important;
}
    
.bg-inverse {
    background-color: #6d6b69 !important;
}

button:focus {
    outline: none;
}

.btn-primary {
    background-color: #6d6b69;
    border-color: transparent;
}

.btn-primary:hover {
    background-color: #84807c;
}

.text-primary {
    color: #6d6b69 !important;
}

.bg-faded {
    background-color: transparent;
}

.btn-mint,
.btn-success {
    background-color: #36c2dd;
    border-color: transparent;
}

.btn-mint:hover,
.btn-success:hover {
    background-color: #3EA2C3;
    border-color: transparent;
}

.badge {
    font-size: 0.9em;
}

.card ul {
    list-style: none;
    padding-left: 0;
}

@media (min-width: 576px) {
    .container {
        width: 100% !important;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100% !important;
        margin-left: -36px;

    }
}

/* ==========================================================================
                            Table Styles
========================================================================== */
.table th {
    padding: 0.5em 0.75rem !important;
}

@media (min-width: 805px) {
    .table td {
        padding: 0.3em 10px 5px !important;
    }
}
.table td {
    font-size: 0.9em;
}

@media (max-width: 805px) {
    .first-row {
        background-color: #36c2dd;
        color: white;
        font-weight: bold;
        font-size: 1.2em !important; 
    }
}

.table .td-status {
    font-weight: bold;
}

.table-bordered thead th, .table-bordered thead td {
    vertical-align: middle;
    font-size: 0.9em;
}

th {
    font-weight: 700;
}

th a {
color: white;
transition: 0.3s;
display: block;
}

th a:hover {
    color: #ededed;
}

td a {
    color: #373e50;
}

td a:hover {
    color: #6f7e95;
}

@media (min-width: 805px) {
    tbody {
        background-color: white;
    }
}
/* ==========================================================================
                            Pagination/Filter/Sort/Search Styles
========================================================================== */
@media screen and (max-width: 992px) {
    .form-inline.search {
        width: 100%;
        padding-bottom: 0 !important;
    }
}

@media screen and (min-width: 390px) {
    .pagination {
        float: right;
    }
}

#preloader {
    margin-left: 10px;
}

@media screen and (max-width: 580px) {
    #preloader {
        margin: 20px auto 0;
    }
}
 
.pagination a {
    color: #6f7e95;
}

.pagination > .active > a {
    background-color: #6d6b69 !important;
}

.pageinfo-display {
    margin: 0;
}

@media screen and (min-width: 390px) {
    .pageinfo-display {
        margin: 40px 0;
    }
}

.pageinfo-display > label,
#pageinfo-display {
    padding: 0.5rem;
}

@media screen and (max-width: 576px) {
    .pageinfo-display > label {
        display: none;
    }
    #pageinfo-display {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 380px) {
    .pagination-container {
        width: 100%;
        text-align: center;
    }

    .pageinfo-display > label {
        display: inline-block;
    }

    #ItemsPerPage {
        margin-left: calc((100% - 190px)/2) !important;
    }
}

#pageinfo-display {
    display: inline-block;
}

#ItemsPerPage {
    width: 70px;
    height: 36.5px;
}

.filter-row {
    border-top: 1px solid #6d6b69;
    border-bottom: 1px solid #6d6b69;
    margin: 20px 2px;
}

.filter-row button.multiselect.dropdown-toggle.btn.btn-default {
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
    padding-left: 0.5rem;
}

.dropdown-menu > li {
    padding-top: 7px;
}

.multiselect-search {
    padding-left: 8px;
}

.show > .dropdown-menu {
    padding: 0.5rem !important;
}

.show > .dropdown-menu > li a,
.show > .dropdown-menu > li a:hover {
    color: black;
}


.filter-arrows {
    float: right;
    font-size: 1.6em;
    line-height: 0.8;
    color: rgba(255, 255, 255, 0.5);
}

.filter-arrows .fa-caret-up {
    margin-top: -7px;
}

.filter-arrows .fa-caret-down {
    margin-top: -12px;
}

.disabled-arrow {
    display: none !important;
}

.active-arrow {
    color: #fff !important;
}

/* ==========================================================================
                        Header Styles
========================================================================== */
.nav-brand img {
    max-width: 200px;
    padding: 4px 0;
}

@media screen and (max-width: 992px) {
    .nav-brand img {
        margin-left: 20px;
    }
}

.navbar-inverse .navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
}

.fixed-top {
    background-color: #36c2dd;
}

.drop-btn {
    border: none;
    cursor: pointer;
}

.hover-dropdown {
    position: relative;
    display: inline-block;
}

.hover-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.hover-dropdown-content:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
}

.hover-dropdown-content:before {
    border-bottom-color: #fff; /* arrow color */
    /* positioning */
    position: absolute;
    top: -20px;
    right: 20px;
    z-index: 1001;
}

.hover-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.hover-dropdown-content a:hover {
    background-color: #f1f1f1;
}

@media screen and (min-width: 992px) {
    .hover-dropdown:hover .hover-dropdown-content {
        display: block;
    }
}

.text-indent {
    display: inline;
    padding-left: 10px;
}

@media screen and (min-width: 992px) {
    .log-off > a {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
}
/* ==========================================================================
                        Sidebar Styles
========================================================================== */
.nav-pills > li {
    border-bottom: 1px solid #ededed;
}

.sidebar-dropdown-button {
    color: white;
    width: 100%;
    box-shadow: none;
    border: none;
    text-align: left;
    padding: 0.5em 1em;
    cursor: pointer;
}

.sidebar-dropdown {
    margin: 0;
    padding: 0;
    background-color: #84807c;
    display: none;
}

.sidebar-dropdown .nav-link {
    border-bottom: 1px solid #6d6b69;
    font-size: 0.9em;
    color: lightgrey;
}

.sidebar-dropdown li:last-child .nav-link {
    border-bottom: none;
} 
    
.sidebar-dropdown .nav-link:hover {
    color: #e0e77a;
}

.sidebar-dropdown .active {
    background-color: #ededed;
}

.sidebar-dropdown .active > a {
    color: #6d6b69;
}

.sidebar-dropdown .active a {
    color: #6d6b69 !important;
}

.arrow-rotate {
    transform: rotate(180deg);
}

@media (min-width: 768px) {
    .col-md-1 {
        max-width: 11.333333% !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .sidebar-icon {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .sidebar-icon .fa {
        font-size: 2em;
    }

    .sidebar-icon > small {
        font-size: 0.5em;
    }

    .sidebar-dropdown .nav-link {
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar-dropdown .active i,
    .sidebar-dropdown .active small {
        color: #6d6b69 !important;
    }

    .sidebar-dropdown li {
        line-height: 0.5em;
    }
}


@media (max-width: 992px) {
    .navbar {
        padding: 0.5rem 0 0;
    }

    a.nav-brand {
        padding: 0 0.5rem 0.5rem;
    }

    .navbar-nav li {
        padding-left: 30px;
        font-size: 1.2em;
        border-bottom: 1px solid white;
        transition: 0.3s;
    }

        .navbar-nav li:hover {
            background-color: #3EA2C3;
        }

    .navbar-inverse .navbar-nav .nav-link:hover {
        color: #e0e77a !important;
    }

    .navbar-inverse .navbar-nav .nav-link:visited,
    .navbar-inverse .navbar-nav .nav-link:focus {
        color: white;
    }
}

.navbar-toggler {
    background-color: #e0e77a;
    transition: 0.3s;
}

.navbar-toggler i {
    font-size: 1.4em;
    color: #6d6b69;
}

.navbar-toggler:hover {
    background-color: #6d6b69;
    cursor: pointer;
}

.navbar-toggler:hover i {
    color: #e0e77a;
}

.navbar-nav li i {
    width: 30px;
}

.hidden-lg-down > i,
.hidden-lg-down a > i  {
    width: 18px !important;
}

/* ==========================================================================
                        Footer Styles
========================================================================== */
.container-fluid {
    min-height: calc(100vh - 130px);
}

footer {
    clear: both;
    font-size: 0.9em;
    margin-top: 20px;
}

footer a {
    text-transform: uppercase;
    color: #36c2dd;
    font-weight: 700;
}

footer a:hover {
    text-decoration: none;
    color: #3EA2C3;
}

@media (max-width: 768px) {
    footer {
        padding-top: 15px;
        border-top: 1px dashed #6d6b69;
    }
    .container-fluid {
        min-height: calc(100vh - 165px);
    }
}


@media (max-width: 420px) {
    footer {
        padding-bottom: 20px;
    }
    .container-fluid {
        min-height: calc(100vh - 150px);
    }

}


/* ==========================================================================
                        Right Click Styles
========================================================================== */
.clickable-row {
    border: 1px solid #eceeef;
}

    .clickable-row:hover,
    .clickable-row-dashboard:hover {
        background: #f7f7f7;
        cursor: pointer;
    }

.btn-sm {
    width: 100%;
}

.hidden-menu {
    display: none;
    width: 80px;
    height: 60px;
    background-color: #ededed;
    border: 1px solid grey;
}

.hidden-menu ul,
.hidden-menu li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.hidden-menu li:first-child {
    outline: 1px solid grey;
}
/* ==========================================================================
                        Page Styles: Notifications
========================================================================== */

button.note-btn.btn.btn-default.btn-sm {
    background-color: transparent;
}

@media (max-width: 576px) {
    .float-create {
        width: 100%;
        float: none !important;
        margin-bottom: 20px;
    }
    .float-create > a {
        width: 100%;
        background-color: #e0e77a;
        color: #6d6b69 !important;
    }

    .float-create > a:hover {
        background-color: #d0d85f;
    }

    #hidden-search {
        position: absolute;
        right: 15px;
        top: 0;
        height: 38px;
        width: 38px;
        border-radius: 0 5px 5px 0;
        border: none;
    }
}

.float-create {
    float: right !important;
}

h5.col-12 {
    color: #36c2dd;
    padding-left: 0;
}

.left-padding {
    padding: 0.5em 1em;
}

.nav-tabs a {
    color: #36c2dd;
}

@media (max-width: 576px) {

    .nav-tabs .nav-link.active {
        background-color: #afe7f1;
    }
    
    .nav-tabs a {
        color: #fff;
        border: none;
    }

    .nav-tabs a:hover {
        color: #fff !important;
    }

    .nav-tabs {
        background-color: #36c2dd;
        margin-bottom: 20px;
    }
    .nav-tabs .nav-link {
        border-radius: 0;
        text-align: center;
        border: none;
    }
}

.nav-tabs a:hover {
    color: #3EA2C3;
}

.tab-pane {
    padding: 1em;
    padding-top: 25px;
    background-color: white;
    margin-bottom: 20px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.tab-content > .active {
    border-bottom: 1px solid #ddd;
}

#editor {
    min-height: 220px !important;
}

.single-thread {
    margin-bottom: 10px;
}

.single-thread:first-child {
    margin-bottom: 20px;
}

.single-thread .float-right a {
    color: #3EA2C3;
    font-size: 1.1em;
}

.single-thread .float-right a:hover {
    color: #afe7f1;
    text-decoration: none;
}

.single-thread:not(:first-child) .float-left {
    padding-left: 30px;
}

.single-thread:not(:first-child) .float-left:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: -1.2em;
    left: 20px;
    width: 1em;
    height: 2em;
    border-left: 1px dotted #6f7e95;
    border-bottom: 1px dotted #6f7e95;
}

@media (max-width: 767px) {
    .nav-tabs > li {
        float: none;
        flex-grow: 1;
    }

    .nav-tabs > li.active > a {
        border: none;
    }

    .nav > li > a:hover, .nav > li > a:focus,
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background: none;
        border: none;
    }
}

@media (max-width: 430px) {
    .nav-tabs {
        display: flex;
        flex-direction: column;
    }
    .nav-tabs > li {
        width: 100%;
        text-align: center;
    }
}
/* ==========================================================================
                        Page Styles: Dashboard
========================================================================== */
.card-deck .card {
    border: 2px solid #36c2dd;
    border-radius: 5px;
}

.card-deck {
    background-color: transparent;
    padding: 1em 0 5px;
}

@media (max-width: 610px) {
    .card-deck {
        padding: 0.5em 0 0;
    }
}

.card-header {
    background-color: #36c2dd;
}

.card-block {
    padding: 0;
}

.card-header h5 {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-header h5 > a {
    color: white;
}

.card-header h5 > a:hover {
    color: #ededed !important;
    text-decoration: none;
}

.external-status {
    padding: 2px 7px 5px;
    border-radius: 5px;
    font-size: 1em;
}

@media (max-width: 610px) {
    .external-status {
        float: left !important;
        margin-bottom: 10px;
    }

    .text-muted .float-right {
        font-size: 0.7em;
        float: left !important;
        padding-left: 30px;
        margin-top: -40px;
    }
}

.border-muted {
    border: 1px solid #636c72 !important;
}

.card-header {
    border-bottom: 1px solid #ededed;
}

#dashboard-table .badge {
    width: 100% !important;
}

.notification-list {
    padding-left: 20px;
    position: relative;
}

.notification-list p > .truncate {
    display: inline-block;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 760px) {
    .notification-list p > .truncate {
        width: 60%;
    }
}

@media (max-width: 610px) {
    .notification-list p > .truncate {
        width: 80%;
    }
}
.notification-list:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: -1.8em;
    left: 0;
    width: 1em;
    height: 2.5em;
    border-left: 1px dotted #6f7e95;
    border-bottom: 1px dotted #6f7e95;
}

i.fa.fa-sticky-note-o {
    transform: translateY(-5px);
}

h3.heading-padding {
    margin-bottom: 30px;
}

h3.heading-padding.text-muted:hover {
    text-decoration: none;
    color: lightcoral !important;
}

@media (max-width: 768px) {
    .single-thread > .float-right {
        font-size: 0.7em;
    }
}

.container td#no-threads {
    padding: 0.5rem 0.75rem !important;
}

/* ==========================================================================
                        Page Styles: Manage & Profile
========================================================================== */
.form-block {
    border-radius: 10px;
    border: .5px dashed #adadad;
    padding: 15px;
    margin-bottom: 20px;
}

.profile-label {
    display: block;
}

small.float-right {
    color: #adadad;
    margin-top: 5px !important;
}

.manage-btn {
    width: 30%;
    margin: 20px 10%;
    color: white;
    padding: 40px 40px 20px;
    border-radius: 10px;
    background-color: #36c2dd;
    text-align: center;
    float: left;
}

.manage-btn i {
    font-size: 4em;
}
    
.manage-btn:hover {
    color: #ededed;
}

.manage-btn p {
    height: 44px;
}
    
@media (max-width: 768px) {
    .manage-btn {
    width: 80%;
    }
}
