/* ------------- style for fonts -------------*/
h1, h2, h3, h4, h5 {
    
}

h3 {
    font-weight: 700;
    font-size: 1.1em;
}


ul, li {
    list-style: none;
}

.heading-padding {
    padding: 0.75rem 1.25rem;
}
.link-color {
    color: #025aa5 !important;
}

/* Keeping the sidebar layout look decent */
@media (min-width: 768px) { 
    .col-md-1 {
        max-width: 9.333333% !important;
    }
}

/* height for editor plugin*/
#editor {
    min-height: 220px !important;
}

/* jQuery table row notifications */
.clickable-row:hover,
.clickable-row-dashboard :hover{
    background: #f7f7f7;
    cursor: pointer;
}

.float-create {
    float: right !important;
}

#accordion {
    margin-bottom: 30px !important;
}

#accordion .badge {
    background-color: grey;
    padding: 10px;
}

/* ------------- style for right click -------------*/
.hidden-menu {
    display:none;
    width: 80px;
    height: 60px;
    background-color: #ededed;
    border: 1px solid grey;
}

.hidden-menu ul,
.hidden-menu li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.hidden-menu li:first-child {
    outline: 1px solid grey;
}

/* ------------- style for sidebar dropdown -------------*/

.sidebar-dropdown-button {
    color: white;
    background-color: #292b2c;
    width: 100%;
    box-shadow: none;
    border: none;
    text-align: left;
    padding: 0.5em 1em;
    cursor: pointer;
}
.sidebar-dropdown {
    margin: 0;
    padding: 0;
    background-color: #555;
    display: none;
}

.sidebar-dropdown .nav-link {
    border-bottom: 1px solid grey;
}


/* ------------- style for top nav hover dropdown -------------*/
.drop-btn {
    border: none;
    cursor: pointer;
}

.hover-dropdown {
    position: relative;
    display: inline-block;
}

.hover-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.hover-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.hover-dropdown-content a:hover {
    background-color: #f1f1f1
}

.hover-dropdown:hover .hover-dropdown-content {
    display: block;
}

.text-indent {
    display: inline;
    padding-left: 30px;
}
