/* ==========================================================================
                            Colors used for the project
========================================================================== */
/*
mint: #44bbc1 
darker mint: #3EA2C3
light-blue: #edf2f6 
dark-navy: #373e50 
sidebar-grey: #6f7e95
*/

body {
    line-height: 1.4;
    background-color: #edf2f6;
}

.container {
    padding-top: 30px;
}

/* ==========================================================================
                            Font Styles
========================================================================== */
h1, h2, h3, h4, h5 {
    border: none;
}

h1 {
    font-size: 2.2em !important;
}

h3 {
    font-size: 1em;
}

/* ==========================================================================
                            List Styles
========================================================================== */
ul, li {
    list-style: none;
}

.heading-padding {
    padding: 0.5rem 1rem;
}

/* ==========================================================================
                            Link Styles
========================================================================== */
.link-color {
    color: #025aa5 !important;
}


/* ==========================================================================
                            Overriding default class styles
========================================================================== */

.breadcrumb {
    padding-top: 0.75rem;
    padding-left: 0;
}
.bg-inverse {
    background-color: #6f7e95 !important;
}

button:focus {
    outline: none;
}

.btn-primary {
    background-color: #373e50;
}

.text-primary {
    color: #373e50  !important;
}

.bg-faded {
    background-color: transparent;
}

.btn-mint,
.btn-success {
    background-color: #44bbc1;
    border-color: transparent;
}

.btn-mint:hover,
.btn-success:hover {
    background-color: #3EA2C3;
    border-color: transparent;
}

.badge-success {
    background-color: #44bbc1;
}

.text-success {
    color: #44bbc1 !important;
}

.card {
    background-color: transparent;
}

/* ==========================================================================
                            Table Styles
========================================================================== */
th {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 500;
}

th a {
    color: white;
    transition: 0.3s;
}
th a:hover {
    color: #ededed;
}

td a {
    color: #373e50;
}

td a:hover {
    color: #6f7e95;
}
    
tbody {
    background-color: white;
}

/* ==========================================================================
                            Pagination Styles
========================================================================== */
.pagination a {
    background-color: #6f7e95 !important;
}

/* ==========================================================================
                            Header Styles
========================================================================== */
.navbar-brand {
    text-transform: uppercase;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
}

.fixed-top {
    background-color: #373e50;
}

.drop-btn {
    border: none;
    cursor: pointer;
}

.hover-dropdown {
    position: relative;
    display: inline-block;
}

.hover-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.hover-dropdown-content:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
}
.hover-dropdown-content:before {
    border-bottom-color: #fff; /* arrow color */
    /* positioning */
    position: absolute;
    top: -20px;
    right: 20px;
    z-index: 1001;
}

.hover-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.hover-dropdown-content a:hover {
    background-color: #f1f1f1
}

.hover-dropdown:hover .hover-dropdown-content {
    display: block;
}

.text-indent {
    display: inline;
    padding-left: 30px;
}
/* ==========================================================================
                            Sidebar Styles
========================================================================== */

.sidebar-dropdown-button {
    color: white;
    width: 100%;
    box-shadow: none;
    border: none;
    text-align: left;
    padding: 0.5em 1em;
    cursor: pointer;
}

.sidebar-dropdown {
    margin: 0;
    padding: 0;
    background-color: #5d6a7e;
    display: none;
}

.sidebar-dropdown .nav-link {
    border-bottom: 1px solid #6f7e95;
    font-size: 0.9em;
    color: lightgrey;
}

.fa-caret-down {
    transition: 0.3s;
}

.arrow-rotate {
    transform: rotate(180deg);
}

@media (min-width: 768px) {
    .col-md-1 {
        max-width: 9.333333% !important;
    }
}
/* ==========================================================================
                            Footer Styles
========================================================================== */
.container-fluid {
    min-height: calc(100vh - 130px);
}

footer {
    font-size: 0.9em;
    margin-top: 20px;
}

footer a {
    text-transform: uppercase;
    color: #44bbc1;
    font-weight: 700;
}

footer a:hover {
    text-decoration: none;
    color: #3EA2C3;
}



/* ==========================================================================
                            Right Click Styles
========================================================================== */
.clickable-row:hover,
.clickable-row-dashboard :hover{
    background: #f7f7f7;
    cursor: pointer;
}

.btn-sm {
    width: 100%;
}

.hidden-menu {
    display: none;
    width: 80px;
    height: 60px;
    background-color: #ededed;
    border: 1px solid grey;
}

.hidden-menu ul,
.hidden-menu li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.hidden-menu li:first-child {
    outline: 1px solid grey;
}
/* ==========================================================================
                            Page Styles: Notifications
========================================================================== */
.float-create {
    float: right !important;
}

#accordion {
    margin-bottom: 30px !important;
}

h5.col-12 {
    color: #44bbc1;
    padding-left: 0;
}

#accordion .card-block a {
    color: black !important;
}

#accordion .card-block a:hover {
    text-decoration: none !important;
}

#accordion .badge {
    background-color: #44bbc1;
    padding: 5px;
}

#accordion .card {
    margin-bottom: 15px;
    border: none;
}
#accordion .card-header {
    border-bottom: 2px solid #44bbc1;
    padding: 0;
    background-color: transparent;
}
    
.left-padding {
    padding: 0.5em 1em;
}

.tab-pane {
    padding: 1em;
    padding-top: 25px;
    background-color: white;
    margin-bottom: 20px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.tab-content > .active {
    border-bottom: 1px solid #ddd;
}

#editor {
    min-height: 220px !important;
}

/* ==========================================================================
                            Page Styles: Dashboard
========================================================================== */
.card-deck .card {
    border: none;
}

.card-deck {
    background-color: transparent;
    padding: 1em 0 5px;
}

.card-block {
    padding: 0;
}

.external-status {
    padding: 2px 5px;
    border-radius: 5px;
}

.border-muted {
    border: 1px solid #636c72 !important;
}

.card-header {
    border-bottom: 2px solid #6f7e95;
}