/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Keeping the color blue for action links in pages */
.link-color {
    color: #025aa5 !important;
}

/* Keeping the sidebar layout look decent */
@media (min-width: 768px) { 
    .col-md-1 {
        max-width: 9.333333% !important;
    }
}

/* height for editor plugin*/
#editor {
    min-height: 220px !important;
}

/* jQuery table row notifications */
.clickable-row:hover {
    background: #f7f7f7;
    cursor: pointer;
}

#accordion {
    margin-bottom: 30px !important;
}

#accordion .badge {
    background-color: grey;
    padding: 10px;
}

/* ------------- style for right click -------------*/
.hidden-menu {
    display:none;
    width: 80px;
    height: 60px;
    background-color: #ededed;
    border: 1px solid grey;
}

.hidden-menu ul,
.hidden-menu li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.hidden-menu li:first-child {
    outline: 1px solid grey;
}

/* ------------- style for dropdown-------------*/
.dropdown-menu .nav-link {
    color: black !important;
}

.dropdown i {
    font-size: 1.2em;
    cursor: pointer;
}
.dropdown-menu {
    left: -50px;
}