/* ==========================================================================
                            Colors used for the project
========================================================================== */
/*
mint: #44bbc1 
darker mint: #3EA2C3
light-blue: #edf2f6 
dark-navy: #373e50 
sidebar-grey: #6f7e95
*/

/*
    brand-color: #36c2dd
    light-brand-color: #afe7f1
    highlight: #e0e77a
    dark-grey: #6d6b69
    grey: #84807c
*/

body {
    line-height: 1.4;
    background-color: #ededed;
}

.container {
    padding-top: 30px;
}

.required:after {
    content: "*";
    padding-left: 3px;
    font-weight: bold;
    color: black;
}

/* ==========================================================================
                            Font Styles
========================================================================== */
h1, h2, h3, h4, h5 {
    border: none;
    font-family:"Open Sans", Arial, sans-serif;
}

a, p, th, td, dd, dt {
    font-family: "Open Sans", Arial, sans-serif;
}

h1 {
    font-size: 2em !important;
    color: #6d6b69;
}

h3 {
    font-size: 1em;
}

/* ==========================================================================
                            Color Styles
========================================================================== */
.bg-mint {
    background-color: #36c2dd;
}

.text-coral {
    color: lightcoral;
}

/* ==========================================================================
                            Others
========================================================================== */

.heading-padding {
    padding: 0.5rem 1rem;
}

/* ==========================================================================
                            Link Styles
========================================================================== */
.link-color {
    color: #6d6b69 !important;
}


/* ==========================================================================
                            Overriding default class styles
========================================================================== */
i.fa.fa-times.text-danger {
    margin-right: 11px;
}

i.fa.fa-check.text-success {
    margin-right: 8px;
}

.breadcrumb {
    padding-top: 0.75rem;
    padding-left: 0;
}
.bg-inverse {
    background-color: #6d6b69 !important;
}

button:focus {
    outline: none;
}

.btn-primary {
    background-color: #6d6b69;
    border-color: transparent;
}

.btn-primary:hover {
    background-color: #84807c;
} 
    
.text-primary {
    color: #373e50 !important;
}

.bg-faded {
    background-color: transparent;
}

.btn-mint,
.btn-success {
    background-color: #36c2dd;
    border-color: transparent;
}

.btn-mint:hover,
.btn-success:hover {
    background-color: #3EA2C3;
    border-color: transparent;
}

.badge {
    font-size: 0.9em;
}


/* ==========================================================================
                            Table Styles
========================================================================== */
th {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 700;
}

th a {
    color: white;
    transition: 0.3s;
}
th a:hover {
    color: #ededed;
}

td a {
    color: #373e50;
}

td a:hover {
    color: #6f7e95;
}
    
tbody {
    background-color: white;
}

/* ==========================================================================
                            Pagination/Filter/Sort Styles
========================================================================== */
.pagination-container {
    float: right;
}

.pagination a {
    color: #6f7e95;
}

.pagination > .active > a {
    background-color: #6d6b69 !important;
}

.pageinfo-display {
    margin: 40px 0;
}

.filter-arrows {
    display: flex;
    flex-direction: column;
    float: right;
    font-size: 1.6em;
    margin-bottom: -12px;
    color: rgba(255, 255, 255, 0.5);
}

.filter-arrows .fa-caret-up {
    margin-top: -7px;
}
.filter-arrows .fa-caret-down {
    margin-top: -12px;
}

.active-arrow {
    color: #36c2dd !important;
}

/* ==========================================================================
                            Header Styles
========================================================================== */
.navbar-inverse .navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
}

.fixed-top {
    background-color: #36c2dd;
}

.drop-btn {
    border: none;
    cursor: pointer;
}

.hover-dropdown {
    position: relative;
    display: inline-block;
}

.hover-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.hover-dropdown-content:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
}
.hover-dropdown-content:before {
    border-bottom-color: #fff; /* arrow color */
    /* positioning */
    position: absolute;
    top: -20px;
    right: 20px;
    z-index: 1001;
}

.hover-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.hover-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.hover-dropdown:hover .hover-dropdown-content {
    display: block;
}

.text-indent {
    display: inline;
    padding-left: 10px;
}

.log-off > a{
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

/* ==========================================================================
                            Sidebar Styles
========================================================================== */

.nav-pills > li {
    border-bottom: 1px solid #edf2f6;
}

.sidebar-dropdown-button {
    color: white;
    width: 100%;
    box-shadow: none;
    border: none;
    text-align: left;
    padding: 0.5em 1em;
    cursor: pointer;
}

.sidebar-dropdown {
    margin: 0;
    padding: 0;
    background-color: #84807c;
    display: none;
}

.sidebar-dropdown .nav-link {
    border-bottom: 1px solid #6d6b69;
    font-size: 0.9em;
    color: lightgrey;
}

.sidebar-dropdown .active {
    background-color: #ededed;
}

.sidebar-dropdown .active > a {
    color: #6d6b69;
}

.fa-caret-down {
    transition: 0.3s;
}

.arrow-rotate {
    transform: rotate(180deg);
}

@media (min-width: 768px) {
    .col-md-1 {
        max-width: 9.333333% !important;
    }
}
/* ==========================================================================
                            Footer Styles
========================================================================== */
.container-fluid {
    min-height: calc(100vh - 130px);
}

footer {
    clear: both;
    font-size: 0.9em;
    margin-top: 20px;
}

footer a {
    text-transform: uppercase;
    color: #36c2dd;
    font-weight: 700;
}

footer a:hover {
    text-decoration: none;
    color: #3EA2C3;
}



/* ==========================================================================
                            Right Click Styles
========================================================================== */
.clickable-row:hover,
.clickable-row-dashboard:hover{
    background: #f7f7f7;
    cursor: pointer;
}

.btn-sm {
    width: 100%;
}

.hidden-menu {
    display: none;
    width: 80px;
    height: 60px;
    background-color: #ededed;
    border: 1px solid grey;
}

.hidden-menu ul,
.hidden-menu li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.hidden-menu li:first-child {
    outline: 1px solid grey;
}
/* ==========================================================================
                            Page Styles: Notifications
========================================================================== */
.float-create {
    float: right !important;
}

#accordion {
    margin-bottom: 30px !important;
}

h5.col-12 {
    color: #44bbc1;
    padding-left: 0;
}

#accordion .card-block a {
    color: black !important;
}

#accordion .card-block a:hover {
    text-decoration: none !important;
}

#accordion .badge {
    background-color: #44bbc1;
    padding: 5px;
}

#accordion .card {
    margin-bottom: 15px;
    border: none;
}
#accordion .card-header {
    border-bottom: 2px solid #44bbc1;
    padding: 0;
    background-color: transparent;
}
    
.left-padding {
    padding: 0.5em 1em;
}

.tab-pane {
    padding: 1em;
    padding-top: 25px;
    background-color: white;
    margin-bottom: 20px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.tab-content > .active {
    border-bottom: 1px solid #ddd;
}

#editor {
    min-height: 220px !important;
}

/* ==========================================================================
                            Page Styles: Dashboard
========================================================================== */
.card-deck .card {
    border: 2px solid lightsteelblue
}

.card-deck {
    background-color: transparent;
    padding: 1em 0 5px;
}

.card-header {
    background-color: lightsteelblue;
}

.card-block {
    padding: 0;
}

.card-header h5 {
    padding-left: 0.75em;
}

.card-header h5 > a {
    color: white;
}

.card-header h5 > a:hover {
    color: coral !important;
    text-decoration: none;
}

.external-status {
    padding: 2px 7px 5px;
    border-radius: 5px;
    font-size: 1em;
}

.border-muted {
    border: 1px solid #636c72 !important;
}

.card-header {
    border-bottom: 1px solid #ededed;
}

#dashboard-table .badge {
    width: 100% !important;
}

.notification-list {
    padding-left: 20px;
    position: relative;
}

.notification-list:before {
    content: "";
    position: absolute;
    top: -1.6em;
    left: 0;
    width: 1em;
    height: 2.3em;
    border-left: 1px dotted #6f7e95;
    border-bottom: 1px dotted #6f7e95;
}

h3.heading-padding {
    margin-bottom: 30px;
}

h3.heading-padding.text-muted:hover {
    text-decoration: none;
    color: lightcoral !important;
}

/* ==========================================================================
                            Page Styles: Manage & Profile
========================================================================== */
small.float-right {
    margin-top: 5px !important;
}

.manage-btn {
    width: 30%;
    margin: 20px 10%;
    color: white;
    padding: 40px;
    border-radius: 10px;
    background-color: #36c2dd;
    text-align: center;
    float: left;
    font-size: 4em;
}

.manage-btn:hover {
    color: #ededed;
} 

