/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Keeping the color blue for action links in pages */
.link-color {
    color: #025aa5 !important;
}

/* Keeping the sidebar layout look decent */
@media (min-width: 768px) { 
    .col-md-1 {
        max-width: 9.333333% !important;
    }
}

/* height for editor plugin*/
#editor {
    min-height: 220px !important;
}

/* jQuery table row notifications */
.clickable-row:hover {
    background: #f7f7f7;
    cursor: pointer;
}

#accordion {
    margin-bottom: 30px !important;
}

#accordion .badge {
    background-color: grey;
    padding: 10px;
}

#hidden-menu {
    width: 100px;
    height: 80px;
    background-color: #ededed;
}