@{
    ViewBag.Title = "Documentation";
}

<h1 class="display-4 text-center pb-3">@ViewBag.Title</h1>

<h2>Functional Requirements</h2>
<p>The following document shows the project specifications and requirements.</p>

<iframe frameborder="0" src="https://docs.google.com/document/d/1GlIRu8uFBaWCaCbMEcO5tJTKY2XNgLCJdZEjGWumOhg/edit?usp=sharing" width="100%" height="800px"></iframe>

<br /><hr />

<h2>Entity Relationship Diagram</h2>
<p>The following ERD diagram shows the relationships between our models.</p>

<iframe frameborder="0" style="width:100%;height:849px;" src="https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&layers=1&nav=1&title=ERD_NoModify#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D0B6z-bu6E6ExiT2d4U0I3ZHdfM3c%26export%3Ddownload"></iframe>
<br /><hr />

<h2>Use Case Diagram</h2>
<p>To better demonstrate our features, the following Use Case Diagram is created to show the capabilities for users and admin.</p>

<iframe frameborder="0" style="width:100%;height:599px;zoom:2;" src="https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&layers=1&nav=1&title=UseCaseDiagram.html#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D0B8ut6_iYZNTnSmc2STl5WkYweUU%26export%3Ddownload"></iframe>